Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-braces-around-statements
WarningsAsErrors: '*'
HeaderFilterRegex: '.*[/\\]opensu[/\\](src|tests)[/\\].*'
FormatStyle: file
CheckOptions:
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: '3'
